/* proximo-nova-regular - latin */
@font-face {
  font-display: swap;  font-family: 'Proximo Nova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Fontspring-DEMO-proximanova-regular.woff2') format('woff2'),
         url('../fonts/Fontspring-DEMO-proximanova-regular.woff') format('woff');
}
/* proximo-nova-regular - latin */
@font-face {
  font-display: swap;  font-family: 'Proximo Nova';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Fontspring-DEMO-proximanova-regularit.woff') format('woff'),
         url('../fonts/Fontspring-DEMO-proximanova-regularit.woff2') format('woff2');
}
/* proximo-nova-semibold - latin */
@font-face {
  font-display: swap;  font-family: 'Proximo Nova';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Fontspring-DEMO-proximanova-semiboldit.woff') format('woff'),
   url('../fonts/Fontspring-DEMO-proximanova-semiboldit.woff2') format('woff2')
}
/* proximo-nova-semibold - latin */
@font-face {
  font-display: swap;  font-family: 'Proximo Nova';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Fontspring-DEMO-proximanova-semibold.woff') format('woff'),
   url('../fonts/Fontspring-DEMO-proximanova-semibold.woff2') format('woff2')
}
/* proximo-nova-bold - latin */
@font-face {
  font-display: swap;  font-family: 'Proximo Nova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Fontspring-DEMO-proximanova-bold.woff') format('woff'),
  url('../fonts/Fontspring-DEMO-proximanova-bold.woff2') format('woff2'),
}


/* proximo-gilroy-semibold - latin */
@font-face {
  font-display: swap;  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Gilroy-SemiBold.woff') format('woff'),
  url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
   
}
/* proximo-gilroy-regulary - latin */
@font-face {
  font-display: swap;  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.woff2') format('woff2')
   
}
/* proximo-gilroy-medium - latin */
@font-face {
  font-display: swap;  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Gilroy-Medium.woff') format('woff'),
  url('../fonts/Gilroy-Medium.woff2') format('woff2')
   
}



/* nunito-sans-semibold - latin */
@font-face {
  font-display: swap;  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NunitoSans-SemiBold.woff2') format('woff'),
   url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
  
}
/* nunito-sans-regular - latin */
@font-face {
  font-display: swap;  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NunitoSans-Regular.woff2') format('woff'),
   url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
  
}





/* future-pt-400 - latin */
@font-face {
  font-display: swap;  font-family: 'Future PT';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Futura\ XBlk\ BT.woff') format('woff'),
 url('../fonts/Futura\ XBlk\ BT.woff2') format('woff2')
        
}
/* future-pt-600 - latin */
@font-face {
  font-display: swap;  font-family: 'Future PT';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/futura\ medium\ bt.woff') format('woff'),
         url('../fonts/futura\ medium\ bt.woff2') format('woff2');
}
