.header {
  background: rgba(23, 25, 29, 0.7);
  backdrop-filter: blur(1px);

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_link {
    padding: 15px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    color: #ffffff;
  }

  &_nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &_nav-list-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_contact {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
  }

  &_mail {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }

  &_btn {
    padding: 13px 21px;
    background: #6911ad;
    border-radius: 7px;
    border: none;
  }
}
