main {
  background-image: url(./../../img/Noise-min.jpg);
}
.comp {
  background-color: rgba(17, 19, 23, 0.4);
  padding-bottom: 95px;
  &_title {
    font-family: "Futura PT";
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
    color: #ffffff;
    margin-bottom: 20px;
    padding-top: 120px;
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_wrap-text {
    width: 569px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
  }
  &_list {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
  }
  &_item {
    width: 270px;
  }
  &_item-num {
    margin-left: 75px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    background: linear-gradient(
      109.09deg,
      rgba(0, 40, 248, 0.89) 0%,
      #6911ad 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 12px;
  }
  &_item-text {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
  }
}
.advantage {
  background-image: url(./../../img/comp-bg-img.png);
  &__title {
    text-align: center;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    margin-bottom: 40px;
  }
  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
  &__item {
    width: 433px;
    height: 250px;
    background: rgba(17, 19, 23, 0.5);
    border: 1px solid #4e4e4e;
    backdrop-filter: blur(2.5px);
    border-radius: 20px;
  }
  &__img {
    padding: 30px;
  }
  &__item-title {
    font-family: "Proxima Nova";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    padding: 0 25px;
    position: relative;

    ::after {
      width: 50px;
      height: 3px;
      content: "";
      display: inline-block;
      position: absolute;
      background-color: #686464;
    }
  }

  &__item-text {
    font-family: "Gilroy";
    padding: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}
